@import "variables"

.table-container
    width: 100%
    display: flex
    align-items: center
    align-content: center
    justify-content: space-around
    .table
        border-spacing: 0px
        width: 80%
        .row
            display: flex
            flex-direction: row
            align-content: center
            align-items: center
            justify-content: space-between
            border-bottom: 1px solid $line-color
        .table-header
            min-height: 58px
            border-radius: 8px
            background-color: $light-blue
            .row
                .hd-cell
                    cursor: pointer
                    padding: 18px
                    div
                        padding-left: 18px
                        color: $header-color
                        font-weight: bold
        .table-body               
        .cell
            width: 33%
            padding: 16px 0px
            display: flex
            align-content: center
            align-items: center
            justify-content: center
            &__content      
                border-radius: 8px
                text-align: center
                height: 58px
                display: flex
                align-content: center
                align-items: center
                justify-content: space-around
                position: relative
                .MuiFormControl-root 
                    border-radius: 4px
                    .MuiInputBase-root 
                        border-radius: 4px
                        input
                            text-align: center
                            border-radius: 4px         
                            &:hover
                                background-color: $light-grey
                .icon
                    display: unset
                    cursor: pointer
                    height: 16px
                    width: 16px
                    position: absolute
                    top: 0px
                    right: 0px
                    fill: '#1976d2'
                .helpIcons
                    display: flex
                    cursor: pointer
                    height: 16px
                    width: 16px
                    position: absolute
                    top: 0px
                    right: 0px
                    z-index: 2
                &:hover
                    // background-color: $lighter-blue
                    .icon
                        // display: unset
                        // cursor: pointer
                        // height: 16px
                        // width: 16px
                        // position: absolute
                        // top: 0px
                        // right: 0px
        .cell.currency-col
            padding: 0px
            div
                border-radius: 8px
                text-align: center
                height: 58px
                display: flex
                align-content: center
                align-items: center
                justify-content: space-around
                &:hover
                    // background-color: $lighter-blue


